@charset "ISO-8859-1";

* {
	margin: 0%;
	color: black;
}

body {
	overflow-x: hidden;
	background-color: #87bfff;
	font-family: 'Roboto', sans-seriff;
}

a {
	text-decoration: none;
}

/* Nav Bar Start */
.navbar-title {
	padding-top: 2%;
	height: 7%;
	width: 100%;
	margin-right: 10%;
	text-align: center;
	background-color: #0c7cfc;
}

.navbar-title h1 {
	color: white;
}

.container {
	width: 100%;
	height: 100vh;
}

.navbar {
	width: 150px;
	height: 150%;
	background-color: #0c7cfc;
	position: absolute;
	top: 0;
	right: -300px;
	display: flex;
	justify-content: center;
	margin-top: 5.8%;
	transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
	right: 0;
}

.hamburger-menu {
	width: 35px;
	height: 30px;
	position: fixed;
	top: 20px;
	right: 50px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.line {
	width: 100%;
	height: 3px;
	background-color: white;
	transition: all 0.8s;
}

.change .line-1 {
	transform: rotateZ(-405deg) translate(-8px, 6px);
	background-color: #f91400;
}

.change .line-2 {
	opacity: 0;
}

.change .line-3 {
	transform: rotateZ(405deg) translate(-8px, -6px);
	background-color: #f91400;
}

.nav-link {
	text-decoration: none;
	font-size: 22px;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
}

.nav-link::before, .nav-link::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: blue;
	position: absolute;
	left: 8;
	transform: scaleX(0);
}

.nav-link::after {
	bottom: 8;
	transform-origin: right;
}

.nav-link::before {
	top: 8;
	transform-origin: left;
}

.nav-link:hover::before
.nav-link:hover::after {
	transform: scaleX(1);
}

.nav-list {
	justify-content: center;
	text-align: left;
	margin-top: 35%;
	margin-left: 5px;
}

.nav-item {
	list-style: none;
	margin-right: 100px;
	margin-top: 10%;
}

.nav-item-link {
	font-size: 16px;
	margin-left: 5px;
}

.nav-item-link:hover {
	font-size: 18px;
}

li a {
	text-decoration: none;
	font-size: 16px;
	color: white;
}

.logoutButton {
	border-style: none;
	background-color: inherit;
	font-size: 16px;
	color: white;
}

.logoutButton:hover {
	cursor: pointer;
	font-size: 18px;
}

/* Comment Start */
.comment-container {
	
	text-align: center;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 50px;
	margin-right: 40%;
	margin-left: 40%;
	border-radius: 6px;
	box-shadow: 0px 1px 6px #5e5d5d;
	
	
}

.editCommentTextarea {
	resize: none;
	height: 25px;
	overflow: hidden;
	outline-style: none;
	margin-top: 15px;
	border-radius: 10px;
	text-align: left;
	width: 300px;
	height: 50px;
	border-width: 1px;
	box-shadow: 0px 1px 3px #5e5d5d;
	border: none;
	background-color: transparent;
}

.updateCommentButton {
	border: none;
	background-color: inherit;
	margin-top: 10px;
	font-size: 16px;
}

.updateCommentButton:hover  {
	font-size: 18px;
	cursor: pointer;
}

/* Comment End */