body {
	background-color: #87bfff;
	font-family: 'Roboto', sans-seriff;
	overflow-x: hidden;
	
	margin-top: 7%;
	padding: 0;
	justify-content: center;
	align-items: center;
	display: flex;
}

* {
	text-align: center;
}






.register-box {
	
	width: 360px;
	height: 460px;
	
	background-color: white;
	border-radius: 3px;
}

h1 {
	text-align: center;
	padding-top: 15px;
}

h4 {
	text-align: center;
}

form {
	width: 300px;
	margin-left: 20px;
}

form label {
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}

form input{
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
}

.button {
	width: 50%;;
	height: 35px;
	margin-top: 20px;
	margin-left: 2.5%;
	border: none;
	background-color: #49c1a2;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.passwordInputs {
	display: inline;
}


.fa-regular fa-eye {
	display: inilne;
}



/* On hover effects */

.button:hover {
	text-align:center;
	box-shadow: 0px 1px 6px #5e5d5d;
}

form input:hover{
	box-shadow: 0px 1px 6px #bababa;
}

.register:hover {
	font-size: 19px;
}



#passwordEyeIcon {
	cursor: pointer;
}

#confirmPasswordEyeIcon {
	cursor: pointer;
}

