@charset "ISO-8859-1";

* {
	margin: 0%;
	color: #000000;
}

body {
	overflow-x: hidden;
	background-color: #87bfff;
	font-family: 'Roboto', sans-seriff;
}

a {
	text-decoration: none;
}



#centerPage {
	text-align: center;
}

#centerFOrm {
	text-align: center;
}

/* Nav Bar Start */

.navbar-title {
	padding-top: 2%;
	height: 7%;
	width: 100%;
	margin-right: 10%;
    text-align: center;
	background-color: #0c7cfc;
}

.navbar-title h1 {
	color: white;
	
}


.container {
	width: 100%;
	height: 100vh;

}

.navbar {
	width: 150px;
	height: 150%;
	background-color: #dddddd;
	position: absolute;
	top: 0;
	right: -300px;
	display: flex;
	justify-content: center;
	margin-top: 5.8%;
	transition: right .8s cubic-bezier(1, 0, 0, 1);
}



.change {
	right: 0;
}

.hamburger-menu {
	width: 35px;
	height: 30px;
	position: fixed;
	top: 20px;
	right: 50px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
}

.line {
	width: 100%;
	height: 3px;
	background-color: black;
	transition: all 0.8s;
}

.change .line-1 {
	transform: rotateZ(-405deg) translate(-8px, 6px);
	background-color: #c12501;
}

.change .line-2 {
	opacity: 0;
}

.change .line-3 {
	transform: rotateZ(405deg) translate(-8px, -6px);
	background-color: #c12501;
}

.nav-list {
	text-align: left;
	margin-top: 35%;
}

.nav-item {
	list-style: none;
	margin-right: 100px;
	margin-top: 10%
	
}

.nav-link {
	text-decoration: none;
	font-size: 22px;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
}

.nav-link::before,
.nav-link::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: blue;
	position: absolute;
	left: 8;
	transform: scaleX(0);
}

.nav-link::after {
	bottom: 8;
	transform-origin: right;
}

.nav-link::before {
	top: 8;
	transform-origin: left;
}

.nav-link:hover::before
.nav-link:hover::after {
	transform: scaleX(1);
}

li a {
	text-decoration: none;
}


/* Nav Bar End */


/* Task Start */

/* TASK*/
.tContainer {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 35px;
	margin-top: 50px;
	margin-right: 30%;
	margin-left: 30%;
	border-radius: 6px;
	box-shadow: 0px 1px 6px #5e5d5d;
}
.task-container {
	text-align: center;
	
}

.updateTaskCotnainer {
	text-align: center;
}

.task {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 100px;
	margin-right: 6%;
	margin-left: 6%;
	border-radius: 6px;
	box-shadow: 0px 1px 6px #5e5d5d;
}

.task div {
	font-size: 30px;
}

.updateTaskButton {
	border-style: none;
	background-color: inherit;
	font-size: 14px;
	display: none;
	text-align:center;
}

.updateTaskButton:hover {
	font-weight: bold;
	
}

.secretInput {
	display: none;
	text-align: center;
}

#hideTaskButton {
	background: none;
	border: none;
	color: #494949;
	
}

#hideTaskButton:hover {
	font-weight: bold;
	
}

#editTaskButton {
	background: none;
	border: none;
	color: #494949;
	text-decoration-line: underline;
}

#editTaskButton:hover {
	font-weight: bold;
	
}

/* COMMENTS*/

.creatingCommentContainer {
	text-align:left;
	margin-top: 40px; 
	margin-left: 7%;
	margin-right: 1%;
}

.label1 {
	padding-bottom: 20px;
	text-align: left;
}

textarea {
	resize: none;
	width: 93%;
	height: 25px;
	border: none;
	
	border-bottom: solid grey;
	
    overflow: auto;
    outline-style: none;
	
   
}

.buttonContainer {
	justify-content: center;
    text-align: center;
    margin-right: 80%;
    margin-left: -6%;
}

.createButton {
	border:none;
	border-radius: 6px;
    background-image:none;
    background-color: #aaaaaa;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-left: 15%;
    
    
}

.createButton:hover {
	font-size: 14px;
}

.comment-container {
	text-align: left;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 50px;
	margin-right: 6%;
	margin-left: 6%;
	border-radius: 6px;
	box-shadow: 0px 1px 6px #5e5d5d;
	padding-left: 30px;
}

.commentName {
	display: inline;
	font-size: 20px;
}

.commentDate {
	display: inline;
}

.formDelete {
	
	margin: -5px;
	display: inline;
	
}

.commentDelete {
	border-style: none;
	background-color: inherit;
	font-size: 14px;
}

.commentDelete:hover {
	font-size: 14px;
	font-weight: 550;
}

.commentUpdate {
	font-size: 14px;
}

.commentUpdate:hover {
	font-weight: 550;
}

/* Task End */





