<!DOCTYPE html>
<html xmlns:th="httpe://thymeleaf.org">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <p th:text="|Hello there ${user.username}|"> </p>
    <p th:text="|${user.email}|"></p>
    <form method="post" action="/logout">
      <input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <button type="submit">Logout</button>
      <div th:text="${user.username}"></div>
    </form>
<!--     <div th:text="${email.email}"></div> -->
<!--     <div th:text="${user.emaill.email}"></div> -->
    
  </body>
  
  
</html>