<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Register</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fdce85e961.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    
   <div class="register-box">
    <h1>Register Below</h1>
    <form action="" method="post" class="form" id="form" >
     <input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div>
        <label>Username</label>
        <input type="text" th:field="${user.username}">
      </div>
      <div>
        <label>Password</label>
        <input type="password" th:field="${user.password}" class="passwordInputs"> <i id="passwordEyeIcon"class="fa-regular fa-eye"></i>
      </div>
      <div>
        <label>Confirm Password</label>
        <input type="password" id="confirmPassword" class="passwordInputs"> <p id="confirmPasswordEyeIcon"class="fa-regular fa-eye"></p>
      </div>
      <button id=submitBtn class="button" type="submit">Create account</button>
    </form>
   </div>
   
   
   <script type="text/javascript" src="/js/register.js"></script>
  </body>