<!DOCTYPE html>
<html xmlns:th="httpe://thymeleaf.org">
  <head>
    <title>Task</title>
  </head>
  <body>
    <h1 th:text="'Task ' + ${task.taskId}"> </h1>
    <div th:text="${task.name}"></div>
    
    <div th:text="${task.taskDescription}"></div>
    <div th:text="${#temporals.format(task.dateCreated, 'MM-dd-yyyy HH:mm')}"></div>
    
    <p>-----------------</p>
    <div th:text="${'User: ' + currentUser.username}"></div>
     <p>-----------------</p>
     
    
    
    <div th:each="comment : ${comments}">
      <div th:text="${comment.commentMessaage}"></div>
    </div>
    
    <form method="post" action="/createComment">
      <input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
     <input type="text" id="commentBox">
    </form>
     
    
    
    
    
    <script th:inline="javascript">
//         var taskName='[[${task.name}]]'
    	var userId='[[${currentUser.userId}]]'
    	var taskId='[[${task.taskId}]]'
    	var token='[[${_csrf.token}]]'
    </script>
    <script type="text/javascript" src="/js/task.js"></script>
  </body>
</html>