<!DOCTYPE html>
<html xmlns:th="httpe://thymeleaf.org">
  <head>
    <title>Task</title>
  </head>
  <body>
    <h1 th:text="'Task ' + ${task.taskId}"> </h1>
    <div ></div>
    <form method="post" action="/logout">
      <input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
    
    
    
    
    <script th:inline="javascript">
    	var userId=''
    	var postId=''
    	var token=''
    </script>
    <script type="text/javascript" src="/js/task.js"></script>
  </body>
</html>