<!DOCTYPE html>
<html xmlns:th="httpe://thymeleaf.org">
<head>
<title>Task</title>
<link rel="stylesheet" type="text/css" href="/css/task.css">
<link
  href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
  rel="stylesheet">
</head>
<body>
  <!--Nav Bar Start-->
  <div class="container">
    <nav class="navbar-title">
      <h1 th:text="'Task ' + ${task.taskId}"></h1>

      <nav class="navbar">

        <div class="hamburger-menu">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>

        <ul class="nav-list">
          <li class="nav-item"><a href="/dashboard"
            class="nav-item-link">Dashboard</a></li>
          <li class="nav-item">
            <form method="post" action="/logout">
              <input type="hidden" th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}">
              <button type="submit" class="logoutButton">
                Logout</button>
            </form>
          </li>
        </ul>

      </nav>
    </nav>
    <!-- Nav Bar End -->

    <!-- Task Start -->
    <div class="tContainer">
      <div class="task-container">
        <div class="task">
        
          <div th:text=" ${task.name}"  class="taskTitle"></div>
          <div th:text=" ${task.taskDescription}"  class="taskDescription"></div>
          <div th:text="'Created by: ' + ${task.user.username} + ' on ' + ${#temporals.format(task.dateCreated, 'MM-dd-yyyy')}" class="taskCreatedBy"></div>

          <div class="updateTaskContainer">
            <div th:if="${task.user.username == currentUser.username or authorities.authority == 'ROLE_ADMIN'}">
              <form method="post" th:action="@{/task/{taskId}/updateTask(taskId = ${task.taskId})}" class="editTaskForm">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> 
                <input type="hidden" th:field="${task.taskId}">
                <input type="hidden" th:field="${task.dateCreated}">
                <input type="hidden" th:field="${task.user.username}">
                
                <div>
                  <textarea  th:field="${task.name}" class="secret" id="inputTaskNameEdit"></textarea>
                </div>
                <div>
                  <textarea  th:field="${task.taskDescription}" class="secret" id="inputTaskDescriptionEdit"></textarea>
                </div>
                <div>
                  <button type="submit" class="secret" id="updateTaskButton">Submit Changes</button>
                </div>
                <div>
                  <label id="toggleEditButton">Edit</label>
                </div>
                
              </form>
            </div>
          </div>
          
        </div>
      </div>

      <div class="creatingCommentContainer">
        <form method="post" action="/creatingComment">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <textarea rows="5" cols="25" th:field="${newComment.commentMessaage}" placeholder="Add a comment..." id="createCommentTextarea"></textarea>
          <br> 
          <input type="hidden" th:field="${currentUser.username}"> 
          <input type="hidden" th:field="${currentUser.userId}"> 
          <input type="hidden" th:field="${task.name}"> 
          <input type="hidden" th:field="${task.taskId}">
          <div class="buttonContainer">
            <button class="createButton">Create Comment</button>
          </div>
        </form>
      </div>
      <!-- Comment Start -->

      <div th:each="comment : ${comments}">
        <div class="comment-container">
          <div th:text="${comment.user.username }" class="commentName"></div>
          <div th:text="${#temporals.format(comment.dateCreated, 'MM-dd-yyyy')}" class="commentDate"></div>
          <div th:text="${comment.commentMessaage}"></div>
          <div th:if="${comment.user.userId == currentUser.userId or authorities.authority == 'ROLE_ADMIN'}">
            <form class="formDelete" method="post"
              th:action="@{/task/{taskId}/comment/{commentId}/delete(taskId = ${task.taskId}, commentId=${comment.commentId})}">
              <button class="commentDelete" type="submit">
                Delete</button>
            </form>
            <!-- UPDATE COMMENT -->
            <a th:href="@{/comment/{commentId}(commentId = ${comment.commentId})}" class="editCommentLink">Edit</a>
          </div>
        </div>
      </div>

      <!-- Comment End -->

    </div>
    <!-- Task End -->
  </div>
  <!-- Nav Bar End -->
  
  <script type="text/javascript" src="/js/task.js"></script>
  <script type="text/javascript" src="/js/hamburger.js"></script>
  
</body>
</html>